#* text eol=lf
*.txt text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.tff binary
*.woff binary
*.woff2 binary

*.exe      binary
*.dll      binary
*.dll.mui  binary
*.msi      binary
*.zip      binary
*.7z       binary
*.rar      binary
*.tar.gz   binary
*.tar.xz   binary
*.tar.bz2  binary
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.woff     binary
*.woff2    binary